* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .top-navbar {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, rgb(31, 127, 245), rgb(108, 169, 244));
    box-shadow: 0 5px 5px 0 gray;
}

header .top-navbar nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-navbar nav a {
    color: white;
}

header .top-navbar .logo {
    display: flex;
    align-items: center;
}

.carousel {
    box-shadow: 1px 1px 3px 1px rgb(88, 88, 88); 
    margin-bottom: 16px;
}

header .top-navbar .nav ul {
    display: inline-flex;
    text-wrap: wrap;
    gap: 10px;
}

header .nav ul li {
    list-style: none;
}

header .nav li a {
    text-decoration: none;
}

header .top-navbar .loginRegist {
    display: flex;
    gap: 20px;
} 

header .loginRegist button {
    padding: 10px;
    border-radius: 10px;
    align-items:center;
    margin: auto 0px;
    font-size: 16px;
}


.loginRegist .login {
    background-color: transparent;
    box-shadow: 1px 1px 3px 1px black; 
    /* box shadow: kanan, bawah, blur, keseluruhan, warna */
}

/* mouse masuk kebagian login */
.login:hover {
    scale: 1.3;
    background-color: rgb(15, 127, 248);
    color: white;
    transition: scale 1s, background-color 1s;
    /* transition = delay */
}

.loginRegist .register {
    background-color: transparent;
    box-shadow: 1px 1px 3px 1px black; 
    /* box shadow: kanan, bawah, blur, keseluruhan, warna */
}


/* mouse masuk kebagian register */
.register:hover {
    scale: 1.3;
    background-color: rgb(15, 127, 248);
    color: white;
    transition: scale 1s, background-color 1s;
    /* transition = delay */
}

main {
    width: 100%;
    height: 100%;
    padding: 20px;
}

main .carousel-item {
    /* border: solid red; */
    width: 100%;
    height: 100%;
}
main .carousel-inner video {
    width: 100%;
}

main .gif-container {
    /* padding-top: 20px; */
    width: 80%;
    margin: 0 auto;
}



