/* TOP NAV ATTR */

header {
    position: sticky;
    /* border: solid greenyellow; */
    top: 0;
    z-index: 5;
}

header .topNav-db {
    box-shadow: 0 5px 5px 0 gray;
    background: linear-gradient(to right, rgb(31, 127, 245), rgb(108, 169, 244));
}

header .topNav-db nav {
    /* border: solid gold; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 0 0 0 auto;
}

header .topNav-db nav a {
    color: white;
}


/* Gaya untuk tombol dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-button {
    background-color: #4caf4f00;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-button:hover {
    background-color: #45a04900;
  }
  
  /* Gaya untuk menu dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to right, rgb(31, 127, 245), rgb(108, 169, 244));
    min-width: 90px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content button {
    background: transparent;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f1f1f1;
  }
  .dropdown-content form:last-child {
    border-bottom: none;
  }

  .dropdown-content button:hover {
    border-left: 5px solid rgb(43, 120, 243);
    color: rgb(43, 120, 243);
    background: linear-gradient(to left, rgb(196, 227, 253), rgb(160, 192, 255));
    border-radius: 5px;
    transition: ease-out all .5s;
    cursor: pointer;
  }
  
  /* Tampilkan menu dropdown saat tombol diklik */
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 1025px) {
 header .topNav-db nav{
        width: 60%;
    }
}

@media(max-width: 535px){
    header .topNav-db nav {
        width: 70%;
    }
}